<div class="navbar">
    <div class="navBrand">
        <h1> PokéThumb</h1>
    </div>
    <ul class = "navItems">
        <li><a href= "">Home</a></li>
        <li><a href= "">BOOK AN APPOINTMENT</a></li>
        <li><a href= "">Our Designs</a></li>
        <li><a href= "">Contact Us </a></li>
    </ul>
</div>