<div class = "carousel-container">
<div class="carouselHead">
    <h1> Featured Design Of The Week</h1>
</div>
<div class = "imgSlides">
    <a class = "seeMoreDesignButton"> <h3> <span>&#8594;</span> SEE MORE </h3></a> 
    <a class = "prevButton"> < </a>
    <a class = "nextButton"> > </a>
    <ul class = "listOfImagesInCarousel">
        <li class = "flex-item"><img src="images/carousel-image1.jpg"></li>
        <li class = "flex-item"><img src="images/carousel-image2.jpg"></li> 
        <li class = "flex-item"><img src="images/carousel-image4.jpg"></li>
        <li class = "flex-item"><img src="images/carousel-image5.jpg"></li>
    </ul>

</div>

    <div class = "flex-center-container dotsContainer">
    </div>

</div>
<script src="scripts/mainpage/carousel.js"></script> 