<div id ="heroImage">
    <br>
    <div class = "heroText">
        <h1> The ART that will <br>ALWAYS be with you </h1>
        <p> We make the PERFECT <br>tattoo for you and with YOU</p>
        <a href=""><h3>BOOK A SLOT  &#8594;</h3></a>
    </div>
</div>