<div class="reviews-container">
    <h1> Customer's Testimonials</h1> 
    <h3> Your satisfaction matters to us <span> <i class="bi bi-hand-thumbs-up-fill"></i></span></h3>
    <div class="reviews flex-row-container">
        <div class="review flex-item">
            <i class="bi bi-chat-left-quote"></i>
            <h1> Title </h1>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde iusto amet numquam reiciendis debitis saepe ipsum ea, reprehenderit consequatur. Cumque quos tempore aspernatur aliquam libero a consectetur dolorum. Nostrum, pariatur!</p>
            
            <div class = "userProfile">
                <img src="images/profilePic.webp" alt="profilePic">
                    <h3 class = "name"> Jim Crow</h3>
                    <div class = "ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
            </div>
        </div>
        <div class="review flex-item">
            <i class="bi bi-chat-left-quote"></i>
            <h1> Title </h1>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde iusto amet numquam reiciendis debitis saepe ipsum ea, reprehenderit consequatur. Cumque quos tempore aspernatur aliquam libero a consectetur dolorum. Nostrum, pariatur!</p>
                
            <div class = "userProfile">
                <img src="images/profilePic.webp" alt="profilePic">
                    <h3 class = "name"> Jim Crow</h3>
                    <div class = "ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
            </div>
        </div>
        <div class="review flex-item">
            <i class="bi bi-chat-left-quote"></i>
            <h1> Title </h1>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde iusto amet numquam reiciendis debitis saepe ipsum ea, reprehenderit consequatur. Cumque quos tempore aspernatur aliquam libero a consectetur dolorum. Nostrum, pariatur!</p>
                
            <div class = "userProfile">
                <img src="images/profilePic.webp" alt="profilePic">
                    <h3 class = "name"> Jim Crow</h3>
                    <div class = "ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
            </div>
        </div>
    </div>
    <div class="reviews flex-row-container">
        <div class="review flex-item">
            <i class="bi bi-chat-left-quote"></i>
            <h1> Title </h1>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde iusto amet numquam reiciendis debitis saepe ipsum ea, reprehenderit consequatur. Cumque quos tempore aspernatur aliquam libero a consectetur dolorum. Nostrum, pariatur!</p>
            
            <div class = "userProfile">
                <img src="images/profilePic.webp" alt="profilePic">
                    <h3 class = "name"> Jim Crow</h3>
                    <div class = "ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
            </div>
        </div>
        <div class="review flex-item">
            <i class="bi bi-chat-left-quote"></i>
            <h1> Title </h1>
            <p> Lorem ipsum dolor, sit amet consectetur adippe ipsum ea, reprehenderit consequatur. Cumque quos tempore aspernatur aliquam libero a consectetur dolorum. Nostrum, pariatur!</p>
                
            <div class = "userProfile">
                <img src="images/profilePic.webp" alt="profilePic">
                    <h3 class = "name"> Jim Crow</h3>
                    <div class = "ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
            </div>
        </div>
        <div class="review flex-item">
            <i class="bi bi-chat-left-quote"></i>
            <h1> Title </h1>
            <p> Lorem ipsum dolor, sit amet consectetur eiciendis debitis saepe ipsum ea, reprehenderit consequatur. Cumque quos tempore aspernatur aliquam libero a consectetur dolorum. Nostrum, pariatur!</p>
                
            <div class = "userProfile">
                <img src="images/profilePic.webp" alt="profilePic">
                    <h3 class = "name"> Jim Crow</h3>
                    <div class = "ratings">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
            </div>
        </div>
    </div>
</div>
<hr>